
.title{
    font-size: 4rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: greenyellow;
}

.task-input{
    width: 40vw;
    margin: 0 auto;
}
.flex-row{
    display: flex;
    gap: 30px;
    justify-content: space-around;
    flex-wrap: wrap;
}

.flex-row>.container{
    width: auto;
}

.filter-section{
    display: flex;
    flex-direction: column;
    color: white;
    margin: 10px;
}

.filter-buttons{
    display: flex;
    justify-content: center;
    gap: 20px;
}